body {
  background-color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

h1 {
  color: purple;
  text-align: center;
  text-align: center;
}
h2 {
  color: black;
p {
  color: purple;
  text-align: center;
  font-size: 30px;
}
button {
    button color: light blue;
    color: black;
}
